<%= turbo_frame_tag :next_page, src: feed_index_path(format: :turbo_stream, page: pagy.next, load_more: true), loading: :lazy do %>
  <div class="flex items-center justify-center">
    <span class="text-zinc-500 dark:text-zinc-300">
      <%= t(".loading") %>
    </span>
  </div>
<% end %>
