<div class="max-w-xl mx-auto">
  <div class="mb-4">
    <%= turbo_frame_tag :profile_feed, class: "space-y-4" do %>
      <% if @entries.any? %>
        <%= render partial: "entry", collection: @entries %>
      <% else %>
        <%= render partial: "feed/no_entries" %>
      <% end %>
    <% end %>
  </div>

  <% if @pagy.next %>
    <%= render partial: "next_page", locals: { pagy: @pagy, username: @username } %>
  <% end %>
</div>
