<div
  class="flex w-full h-full"
  data-controller="tooltip"
  data-tooltip-placement-value="top"
>
  <div class="cursor-pointer flex w-full h-full" data-tooltip-target="trigger">
    <% if href %>
      <%= link_to "", href, class: classes, **attrs %>
    <% else %>
      <%= tag.div(class: classes, **attrs) %>
    <% end %>
  </div>
  <div
    class="
      bg-zinc-900 text-white absolute top-0 left-0 w-max px-3 py-2 rounded text-sm
      dark:bg-zinc-700 invisible opacity-0 transition-opacity duration-300 z-10
    "
    data-tooltip-target="content"
  >
    <%= content %>
    <div
      class="absolute bg-zinc-900 size-2 rotate-45 dark:bg-zinc-700"
      data-tooltip-target="arrow"
    ></div>
  </div>
</div>
