<div class="px-3">
  <%= turbo_frame_tag dom_id(entry, :comments), class: "block space-y-4 pb-3 empty:pb-0" do %>
    <% if entry.comments.any? %>
      <%= render(
        partial: "entries/entryables/comment",
        collection: entry.comments.includes(:owner).order(:created_at).limit(3),
        cached: ->(comment) { [Current.user, comment] },
      ) %>
    <% end %>
  <% end %>

  <% if entry.comments.count > 3 %>
    <%= turbo_frame_tag dom_id(entry, :next_page) do %>
      <div class="mt-1 pb-3">
        <%= render(LoadMoreButton::Component.new(
            href: entry_comments_path(entry, page: 2, format: :turbo_stream)
        )) { t(".load_more_comments") } %>
      </div>
    <% end %>
  <% end %>
</div>
