<div class="ui--progress-calendar--component gap-2">
  <div
    class="ui--progress-calendar--component__months"
    style="grid-template-columns: <%= month_grid_template_column_classes %>;"
  >
    <% month_names.each do |month_name| %>
      <div class="font-heading text-xs">
        <%= month_name %>
      </div>
    <% end %>
  </div>

  <div class="ui--progress-calendar--component__days">
    <div
      class="
        grid grid-rows-[repeat(7,_16px)] auto-cols-[16px] grid-flow-col gap-1
      "
    >
      <%= render UI::ProgressCalendar::DayComponent.with_collection(calendar.days) %>
    </div>
  </div>

  <div
    class="
      ui--progress-calendar--component__week-days grid grid-rows-[repeat(7,_16px)]
      gap-1
    "
  >
    <% week_day_names.each do |week_day_name| %>
      <div class="flex items-center text-xs font-heading">
        <%= week_day_name %>
      </div>
    <% end %>
  </div>
</div>
