<div class="flex space-x-3 mt-4">
  <%= render UI::Avatar::Component.new(src: Current.user.avatar.variant(:thumb), size: :sm) %>
  <div class="flex-1">
    <p class="font-light text-sm text-zinc-600 font-heading dark:text-zinc-400 mb-2">
      <%= goal.title %>
    </p>
    <%= render UI::ProgressBar::Component.new(progress: goal.progress, size: :sm) %>
  </div>
</div>
