<div class="flex gap-2 items-center">
  <div>
    <%= link_to profile_path(like.user.username), data: { turbo_frame: :_top } do %>
      <%= render UI::Avatar::Component.new(
          src: like.user.avatar.variant(:thumb),
          size: :sm,
          class: "not-prose"
      ) %>
    <% end %>
  </div>
  <div>
    <%= link_to profile_path(like.user.username), class: "not-prose", data: { turbo_frame: :_top } do %>
      <%= like.user.name %>
    <% end %>
  </div>
</div>
