@import "tailwindcss/base";
@import "tailwindcss/components";

@import "railsui/actiontext";
@import "railsui/base";
@import "railsui/flatpickr";
@import "railsui/forms";
@import "railsui/navigation";
@import "railsui/properties";
@import "railsui/buttons";
@import "railsui/headings";
@import "tailwindcss/utilities";

:root {
  --week-width: calc(16px + 0.25rem);
}

.goals-progress-calendar-component {
  display: inline-grid;
  grid-template-areas: "empty months" "weeks days";
}

/* See: https://bitsofco.de/github-contribution-graph-css-grid/ */
.goals-progress-calendar-component__months-row {
  display: grid;
  grid-area: months;
}

.goals-progress-calendar-component__week-days {
  grid-area: weeks;
}

.goals-progress-calendar-component__days {
  grid-area: days;
}
